.popupCompare {
    
        display: none;
        position: fixed;
        top: 15%;
        left: 25%;
        width: 50%;
        height: 50%;
        justify-content: center;
        align-items: center;    
  
}

.popupCompare-content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: -5px 3px 128px 90px rgba(0,0,0,0.4);
    -moz-box-shadow: -5px 3px 128px 90px rgba(0,0,0,0.4);
    box-shadow: -5px 3px 128px 90px rgba(0,0,0,0.4);
}

.compareTitle{
    text-align: center;
}

.selectPokemon{
    width: 86.5%;
    display: flex;
    justify-content: flex-end;
}

.popupCompare-content img{
    width: 250px;
    height: 300px;
}

#secondPokemonSelect{
    cursor: pointer;
}

.closeCompare{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.imgsCompare{
    display: flex;
    justify-content: space-around;
}


.secondPokemonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerCompareButton{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.compareButton {
    color: white;
    cursor: pointer;
    background-color: gray;
    height: 30px;
    border-radius: 10%;
    transition: transform 0.5s ease;
}

.compareButton:hover {
    transform: scale(1.05);
}
